* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* start prompt font */

@font-face {
    font-family: 'prompt-regular';
    src: url(../fonts/Prompt/Prompt-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'prompt-bold';
    src: url(../fonts/Prompt/Prompt-Bold.ttf) format('woff2');
}

@font-face {
    font-family: 'prompt-semiBold';
    src: url(../fonts/Prompt/Prompt-SemiBold.ttf) format('woff2');
}

/* end prompt font */


/* start syne font */
@font-face {
    font-family: 'syne-regular';
    src: url(../fonts/Syne/static/Syne-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'syne-bold';
    src: url(../fonts/Syne/static/Syne-Bold.ttf) format('woff2');
}

@font-face {
    font-family: 'syne-semiBold';
    src: url(../fonts/Syne/static/Syne-SemiBold.ttf) format('woff2');
}

/* end syne font */



:root {
    --head-Regular: syne-regular, sans-serif;
    --head-bold: syne-bold, sans-serif;
    --head-SemiBold: syne-semiBold, sans-serif;

    --body-regular: prompt-regular, sans-serif;
    --body-semiBold: prompt-semiBold, sans-serif;
    --body-bold: prompt-bold, sans-serif;

    --main-color: #e27614;
    --second-color: #0f172a;
    --third-color: #1b2335;
    --white-color: #fff;
    --dark-color: #000;
}

body {
    font-family: var(--body-regular);
    height: 6000px;
    background-color: var(--second-color);
    color: var(--white-color);
}



/* start header */


header .top {
    background-color: var(--main-color);
    padding: 10px 12%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    height: 80px;

}

header .top>div:first-child {
    display: flex;
    gap: 30px;

}

header .top>div:first-child div span {
    margin-left: 5px;

}

header .top>div:last-child {
    display: flex;
    gap: 10px;
    font-size: 13px;


}

/* end header */

/* start nav */
nav {
    background-color: var(--third-color);
    border-radius: 8px;
    margin: -50px 12%;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s;
    opacity: 1;
}

nav ul {
    display: flex;


}

nav ul li {
    list-style: none;
    padding: 28px 10px;
    cursor: pointer;
}

nav ul li>a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 14px;
    transition: 0.3s;

}

nav ul li:hover>a {
    color: var(--main-color);


}

nav ul li>i {
    font-size: 10px;

}

nav .data {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav .data i {
    transition: 0.5s;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;

}

nav .data i:hover {
    color: var(--white-color);

}

nav .data div {
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s;
    cursor: pointer;

}


nav .data div span {
    width: 25%;
    height: .1rem;
    background-color: var(--white-color);
    transition: 0.5s;

}

nav .data div span:not(:nth-child(2)) {
    width: 50%;
}

nav .data div:hover span:nth-child(2) {
    width: 50%;

}

nav .data div span:nth-child(2) {
    height: .15rem;

}

nav .data div:hover span:not(:nth-child(2)) {
    width: 25%;
}


nav .data div:hover {
    transform: scale(0.9) rotate(180deg);
    box-shadow: 0 0 10px var(--main-color);
}

nav ul li {
    position: relative;
}

nav ul li .drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #22304f;
    box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
    z-index: 1;
    width: 180px;
    padding: 20px;
    left: 0;
    top: 100%;
    gap: 15px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    opacity: 0;

}

nav ul li:hover .drop {
    transform: scaleY(1);
    opacity: 1;
}

nav ul li .drop a {
    text-decoration: none;
    color: var(--white-color);
    transition: 0.3s;

}

nav ul li .drop a:hover {
    color: var(--main-color);
    transform: translateX(20px);

}

/* end nav */
@media(max-width : 1200px) {
    header .top{
        display: none;
    }
    nav{
        margin: 0;
        padding: 15px 3%;
    }
    nav ul{
        display: none;
    }

}


/* start-section */


.first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 50px 7.5%;
    margin-top: 80px;




}

.first .container {
    display: flex;

}

.first .container h3 {
    font-family: var(--head-bold);
    font-size: 65px;
}


.first .cont p {
    font-size: 16px;
    font-family: var(--body-regular);

}

.first .cont button {
    background-color: var(--main-color);
    width: max-content;
    padding: 16px 28px;
    color: var(--white-color);
    border-radius: 15px;
    font-family: var(--body-regular);
    font-weight: 300;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid transparent;
}

.first .cont button:hover {
    background-color: var(--second-color);
    border: 2px solid var(--main-color);
    cursor: pointer;

}

/* end-section */



/* start-section */


.gallery .slider {
    overflow: hidden;




}

.gallery .slider .animate {
    animation: slide 5s linear infinite;
    position: relative;
}

.gallery .slider .animate:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes slide {
    100% {
        transform: translateX(-100%);
    }

}

.gallery .photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

}

.gallery .photos:nth-child(2) {
    position: absolute;
    top: 0;
    top: 0;
    width: 100%;
    transform: translateX(100%);
}

.gallery .photos img {
    width: 100%;
    border-radius: 10px;


}

/* end-section */







/* start-sec-moments */
section {
    padding: 50px 9%;
}

.moments {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.moments p {
    text-align: center;
    font-size: 50px;
    font-family: var(--head-bold);

}

.moments .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.moments .container .card {
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px;
    filter: brightness(0.8);

}

.moments .container .card div {
    overflow: hidden;
}

.moments .container .card div img {
    width: 100%;
    transition: 0.3s;

}

.moments .container .card div:hover img {
    transform: scale(1.1);
    filter: brightness(1.3);



}


/* end-sec-moments */






/* srtart-sec-logos */

.pic {
    background-color: var(--main-color);
    padding: 80px 0 50px;
    margin-top: 40px;

}

.pic-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* end-sec-logos */




/*  start-sec-Movie */

.movie {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;

}

.movie .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie .left b {
    font-family: var(--head-bold);
    font-size: 45px;
}



.movie .left button {
    background-color: transparent;
    width: max-content;
    padding: 16px 28px;
    color: var(--white-color);
    border-radius: 10px;
    font-family: var(--body-regular);
    font-weight: 300;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid var(--main-color);


}

.movie .left button:hover {
    background-color: var(--main-color);
    cursor: pointer;
    border: 2px solid transparent;


}

.movie .right {
    position: relative;

}

.movie .right .container-image {
    position: relative;
    width: 100%;

}

.movie .right .container-image div:nth-child(1) {
    width: 100%;
    position: relative;
}

.movie .right .container-image div:nth-child(1)::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    z-index: -1;
    transform: rotate(7deg);
    transition: 0.3s;
}

.movie .right .container-image div:nth-child(1):hover::after {
    transform: rotate(0deg);

}

.movie .right .container-image div:nth-child(1) img {
    width: 100%;
}

.movie .right .container-image div:nth-child(2) {
    position: absolute;
    border-radius: 50%;
    font-size: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background-color: var(--white-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.movie .right .container-image div:nth-child(2)::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    animation: bumb 1.5s ease infinite;
}

@keyframes bumb {
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.movie .counter {
    position: absolute;
    bottom: 50px;
    left: -50px;
    background-color: var(--third-color);
    border: 1px solid #d6ab09;
    display: flex;
    gap: 30px;
    padding: 15px 25px;
    animation: leftAndRight 5s ease infinite alternate;

}

@keyframes leftAndRight {
    100% {
        left: 30px;
    }
}

.movie .counter div b {
    font-size: 50px;
    font-family: var(--head-bold);
    line-height: 1.1;
}

.movie .counter div b::before {
    content: '';
    animation: numbers 10s linear forwards;


}

@keyframes numbers {
    15% {
        content: '1';
    }

    30% {
        content: '2';
    }

    45% {
        content: '3';
    }

    60% {
        content: '4';
    }

    75% {
        content: '5';
    }

    90% {
        content: '6';
    }

    100% {
        content: '7';
    }



}

.movie .counter div p {
    margin-top: 3px;
}

/*  end-sec-Movie */






/* start-sec-team */

.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 7.5%;
    margin-top: 40px;
}

.team>div {
    background-color: var(--third-color);
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.team>div div:first-child {
    position: relative;
    z-index: 1;


}

.team>div div:first-child::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: -15px;
    top: 0;
    background-color: #8888887d;
    z-index: -1;
    transition: 0.4s;

}

.team>div:hover div:first-child::after {
    transform: scale(1.1);
}

.team>div div:last-child {
    text-align: center;

}

.team>div div:last-child b {
    font-size: 54px;
    font-family: var(--head-bold);
}


/* end-sec-team */


/* start-sec-adventure */



.adventure {
    background-image: url(../images/bg\ \(1\).png);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px 2%;
    margin-top: 80px;
}

.adventure .card {
    position: relative;
    cursor: pointer;
    border-radius: 25px;

    transition: 0.5s;
}



.adventure .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(to top , var(--main-color), transparent);
    border-radius: 25px;
    left: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s;


}

.adventure .card:hover::before{
    height: 100%;
    opacity: 1;
    
    
}


.adventure .card div:first-child {
    overflow: hidden;



}

.adventure .card div:first-child img {
    width: 100%;
    border-radius: 25px;



}

.adventure .card div:last-child {
    position: absolute;
    left: 30px;
    opacity: 0;
    bottom: 20px;
    transition: 0.5s;
}

.adventure .card:hover div:last-child{
    opacity: 1;
    bottom: 40px;

}






.adventure .card div:last-child b {
    font-size: 25px;
    font-family: var(--body-bold);
    width: max-content;
    position: relative;
}



.adventure .card div:last-child b::after{
content: '';
position: absolute;


transition: 0.5s;
height: 1px;
width: 0%;
right: 0;
bottom: 2px;
background-color: #fff;


}

.adventure .card div:last-child b:hover::after{
    width: 100%;
    left: 0;
    right: unset;
}


/* end-sec-adventure */


/* start-sec-screen */


/* الاب الأساسي */
.screen {
  position: relative;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 80px 20%;
  background-color: #0b1529;
  overflow: hidden;
}

/* الخلفية (اللوجو بالقناع) */
.screen::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  transform: translateY(-70%);
  transform: translateX(70%);
  width: 300px;
  height: 300px;
  background: url("../images/shape.png") no-repeat center;
  background-size: contain;
  opacity: 1;
  z-index: 1;
}

/* الجزء الشمال */
.screen .left-two {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* عشان الصورة تبقى فوق الخلفية */
}

/* الصورة + أيقونة play */
.screen .left-two .container-two {
  position: relative;
  display: inline-block;
}

.screen .left-two .container-two img {
  width: 100%;
  border-radius: 10px;
  display: block;
  position: relative;
}
.screen .left-two::after{
    content: '';
    position: absolute;
    right:  0 ;
    bottom: -40px;
    background-color: #ffc901;
    width: 70%;
    height: 70%;
    z-index: -3;
}

.screen .left-two .container-two i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  width: 80px;
  height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen .left-two .container-two i::after{
     content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    animation: bumb 1.5s ease infinite;
}
@keyframes bumb {
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

/* الجزء اليمين */
.screen .right-two {
  flex: 1;
  color: #fff;
  z-index: 2;
}

.screen .right-two b {
  font-size: 40px;
  line-height: 1.3;
  display: block;
  margin-bottom: 20px;
}

.screen .right-two p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
  color: #dcdcdc;
}

/* زرار */
.screen .right-two button {
  background-color: transparent;
    width: max-content;
    padding: 16px 28px;
    color: var(--white-color);
    border-radius: 10px;
    font-family: var(--body-regular);
    font-weight: 300;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid var(--main-color);
}

.screen .right-two button:hover {
  background-color: var(--main-color);
    cursor: pointer;
    border: 2px solid transparent;

}

/* end-sec-screen */








/* start-sec-admin */

 .admin{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
 }
 .admin .card{
    display: flex;
    flex-direction: column;
    gap: 30px;

 }
 .admin .card .con-img{
    border-radius: 8px;
    overflow: hidden;

 }
 .admin .card .con-img img{
     width: 100%;
     border-radius: 8px;
     transition: 0.5s;
     
    }
    
    .admin .card:hover .con-img img{
        cursor: pointer;
        transform: scale(1.05);
        animation: fade 0.2s forwards ;

    }
    @keyframes fade{
        50%{
            filter: brightness(1.5);
        }
        100%{
            
            filter: brightness(1);
        }
    }
 .admin .card .data {
  display: flex;
  align-items: center;
  gap: 20px; /* المسافة بينهم */
}


 .admin .card .data i {
  color: var(--main-color);
}

 
 .admin .card b{
     font-size: 23px;
     font-family: var(--head-bold);
     background: linear-gradient(#fff ) no-repeat;
     background-size: 0% 1px;
     background-position: left bottom;
     transition: 0.5s;
    }
    .admin .card b:hover{
    background-size:100% 1px;


    }
    .admin .card .more{ 
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 18px;
    align-items: center;
 }
 .admin .card .more div{
    height: 2px;
    border-radius: 5px;
    background-color: #888;

 }
 .admin .card .more p{
     transition: 0.5s;
     
    }
    .admin .card .more p:hover{
        color: var(--main-color);
        cursor: pointer;
    }
    .admin .card .more p:hover i{
        animation: fade-2 0.5s  ;

    }
    @keyframes fade-2{
        33%{
            transform: translateX(-10px);
            opacity: 0;
        }
        
        66%{
            transform: translateX(10px);
            opacity: 0;

        }
        100%{
            
            transform: translateX(0px);
            opacity: 1;

        }
    }
 .admin .card .more p i {
  color: var(--main-color);
}

/* end-sec-admin */






/* start contact */

.contact{
    height: 35vh;
    background: url(../images/bg.png)  ,  center  ,var(--main-color);
    position: relative;
    margin-top: 80px;
}
.contact > img{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0 ;
    
}
.contact > .data{

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5% 0 20%;
    height: 100%;

}
.contact > .data div{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact > .data div i{
    width: 90px;
    height: 90px;
    background-color: #ffc901;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;


}
.contact > .data div p{
    font-size: 25px;
    font-family: var(--head-SemiBold);
}
.contact > .data  button{
      background-color: #ffc901;
    width: max-content;
    padding: 16px 28px;
    color: #714f53;
    border-radius: 15px;
    font-family: var(--body-regular);
    font-weight: 300;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid transparent;
    font-family: var(--head-bold);
    letter-spacing: 2;

}
.contact > .data  button:hover{
     background-color: var(--second-color);
    border: 2px solid #ffc901;
    cursor: pointer;
    color: var(--white-color);

}


/* end contact */


.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #ff7a00;
  color: #fff;
  border: none;
  padding: 12px 15px;
  border-radius: 20%;
  cursor: pointer;
  font-size: 18px;
  display: none; /* مخفي لحد ما تنزل */
  transition: 0.3s;
  z-index: 9999;
}

.back-to-top:hover {
  background: #e56d00;
  transform: scale(1.1);
}







/* start-footer */

.footer {
  background: #0c1424;
  color: #fff;
  padding: 60px 10% 30px;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 4fr, 1fr;
  gap: 50px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h3 {
  font-size: 35px;
  margin-bottom: 15px;
  position: relative;
  font-family: var(--head-bold);
}

.footer-col h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #ff7a00;
  margin-top: 6px;
}

.footer-col p {
  margin: 15px 0;
  color: var(--white-color);
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-col ul li {
  margin-bottom: 12px;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #ff7a00;
}

.footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}

.footer .logo i {
  font-size: 28px;
  color: #ff7a00;
}

.footer .socials {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.footer .socials i {
  font-size: 18px;
  color: #ff7a00;
  cursor: pointer;
  transition: 0.3s;
}

.footer .socials i:hover {
  transform: scale(1.2);
}

.footer form {
  display: flex;
  margin-top: 15px;
}

.footer form input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.footer form button {
  padding: 12px 18px;
  border: none;
  background: #ff7a00;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer form button:hover {
  opacity: 0.9;
}

.footer .bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #bbb;
  font-family: var(--head-Regular);
}

.footer .bottom .links {
  display: flex;
  gap: 20px;
}

.footer .bottom .links a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer .bottom .links a:hover {
  color: #ff7a00;
}




/* end-footer */








